<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Stays">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Stay details</span>
                        </div>
                    </div>
                </div>
                <div class="card-body px-5 py-4">
                    <div class="d-flex justify-content-between">
                        <div style="width: 25%;">
                            <p class="h5">Booking</p>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Check-in:</td>
                                    <td th:text="${stayDetails.checkInDate}"></td>
                                </tr>
                                <tr>
                                    <td>Check-out:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td th:text="${stayDetails.checkOutDate}"></td>
                                </tr>
                                <tr>
                                    <td>Adults:</td>
                                    <td th:text="${stayDetails.amountOfAdults}"></td>
                                </tr>
                                <tr>
                                    <td>Children:</td>
                                    <td th:text="${stayDetails.amountOfChildren}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 25%;">
                            <p class="h5">Guest</p>
                            <table>
                                <tbody>
                                <tr>
                                    <td th:text="${stayDetails.guestFirstName} + ' '  + ${stayDetails.guestLastName}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${stayDetails.streetName} + ' '  + ${stayDetails.streetNumber}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${stayDetails.zipCode} + ' '  + ${stayDetails.city}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${stayDetails.country}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="my-4">

                    <form id="myform" th:action="@{/invoice/{id}(id=${stayDetails.id})}" method="get" th:object="${invoiceForm}">
                        <div class="mb-4 mt-2">
                            <p class="h5">Rooms</p>
                            <table class="table table-sm table-hover">
                                <tbody>
                                <tr style="border: hidden" th:each="room : ${stayDetails.roomsWithCategories()}">
                                    <td class="col-1"><input type="checkbox" class="form-check-input room-checkbox" th:field="*{roomNames}" th:value="${room.key}" onclick="test()" /></td>
                                    <td class="col" th:text="${room.value}"></td>
                                    <td class="col-3" th:text="${room.key}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mb-4">
                            <p class="h5">Services</p>
                            <table class="table table-sm table-hover">
                                <tbody>
                                <tr style="border: hidden" th:each="service : ${stayDetails.services}">
                                    <td class="col-1"></td>
                                    <td class="col" th:text="${service.key}"></td>
                                    <td class="col-3" th:text="'€' + ${service.value} + ' per day/room'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div>
                        <p class="h5">Additional information</p>
                        <textarea style="min-width: 100%" disabled th:text="${stayDetails.additionalInformation}"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/">Back to home</a>
                    <div class="float-end">
                        <button name="action" value="createInvoice" type="submit" form="myform" id="invoice" class="btn btn-secondary" disabled>Create Invoice</button>
                        <button name="action" value="checkOut" type="submit" form="myform" id="checkout" class="btn btn-secondary" disabled>Check-Out</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            var checkbox = document.querySelectorAll('input[type=checkbox]');

            for (var i = 0; i < checkbox.length; i++) {
                checkbox[i].setAttribute('checked','checked');
            }

            document.getElementById('checkout').setAttribute('class','btn btn-primary');
            document.getElementById('checkout').disabled = false;

            function test() {

                let checkboxes = document.querySelectorAll('input[type=checkbox]');
                let selectedCheckboxes = document.querySelectorAll('input[type=checkbox]:checked');

                if (selectedCheckboxes.length === 0) {
                    document.getElementById("checkout").disabled = true;
                    document.getElementById("checkout").setAttribute('class','btn btn-secondary');
                    document.getElementById("invoice").disabled = true;
                    document.getElementById("invoice").setAttribute('class','btn btn-secondary');

                } else if (checkboxes.length === selectedCheckboxes.length) {
                    document.getElementById("checkout").disabled = false;
                    document.getElementById("checkout").setAttribute('class','btn btn-primary');
                    document.getElementById("invoice").disabled = true;
                    document.getElementById("invoice").setAttribute('class','btn btn-secondary');
                } else {
                    document.getElementById("checkout").disabled = true;
                    document.getElementById("checkout").setAttribute('class','btn btn-secondary');
                    document.getElementById("invoice").disabled = false;
                    document.getElementById("invoice").setAttribute('class','btn btn-primary');
                }
            }
        </script>
    </div>

</body>
</html>