<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<div layout:fragment="content">

    <p class="h3">Stay details</p>

    <h5>Guest information:</h5>
    <p th:text="${stayDetails.guestFirstName} + ' '  + ${stayDetails.guestLastName}"></p>

    <h5>Additional Information:</h5>
    <div class="mb-3">
        <p th:text="${stayDetails.additionalInformation}"></p>
    </div>

    <h5>Stay information:</h5>
    <p th:text="'Check in date: ' + ${stayDetails.checkInDate}"></p>
    <p th:text="'Check out date: ' + ${stayDetails.checkOutDate}"></p>

    <h6>Amount of guests:</h6>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Adults</th>
            <th>Children</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${stayDetails.amountOfAdults}"></td>
            <td th:text="${stayDetails.amountOfChildren}"></td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/invoice/{id}(id=${stayDetails.id})}" method="get" th:object="${invoiceForm}">
        <h6>Rooms:</h6>
        <table id="roomsTable" class="table table-striped">
            <thead>
            <tr>
                <th class="col-1"></th>
                <th class="col">Category</th>
                <th class="col">Room number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${stayDetails.roomsWithCategories()}">
                <td><input type="checkbox" class="form-check-input" th:field="*{roomNames}" th:value="${room.key}" onclick="test()" /></td>
                <td th:text="${room.value}"></td>
                <td th:text="${room.key}"></td>
            </tr>
        </table>

        <br>

        <h6>Services:</h6>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col">Name</th>
                <th class="col">Cost per unit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${stayDetails.services}">
                <td th:text="${service.key}"></td>
                <td th:text="${service.value} + '€'"></td>
            </tr>
            </tbody>
        </table>

        <button name="action" value="createInvoice" type="submit" id="invoice" class="btn btn-secondary" disabled>Create Invoice</button>
        <button name="action" value="checkOut" type="submit" id="checkout" class="btn btn-secondary" disabled>Check-Out</button>
    </form>

    <script>
        // Check if table with rooms is empty so that are all billed
        // Only th should be there
        function test() {

            let checkboxes = document.querySelectorAll('input[type=checkbox]');
            let selectedCheckboxes = document.querySelectorAll('input[type=checkbox]:checked');

            if (selectedCheckboxes.length === 0) {
                document.getElementById("checkout").disabled = true;
                document.getElementById("checkout").setAttribute('class','btn btn-secondary');
                document.getElementById("invoice").disabled = true;
                document.getElementById("invoice").setAttribute('class','btn btn-secondary');

            } else if (checkboxes.length === selectedCheckboxes.length) {
                document.getElementById("checkout").disabled = false;
                document.getElementById("checkout").setAttribute('class','btn btn-primary');
                document.getElementById("invoice").disabled = true;
                document.getElementById("invoice").setAttribute('class','btn btn-secondary');
            } else {
                document.getElementById("checkout").disabled = true;
                document.getElementById("checkout").setAttribute('class','btn btn-secondary');
                document.getElementById("invoice").disabled = false;
                document.getElementById("invoice").setAttribute('class','btn btn-primary');
            }
        }
    </script>

</div>
</body>
</html>