
#content {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
    background-color: rgba(160, 160, 160, 0.2);
}

#guest-select {
    text-align: center;
}

#next-button {
    /* TODO: make the button show up on the right side */
}

#leftForm, #rightForm {
    padding: 1em;
}


/*-----------------*/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
}