body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(255,255,255,0)), url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
}

.content {
    margin-left: 230px;
    min-height: 100vh;
}

.div-width-l {
    width: 80%;
    margin: auto;
}

.div-width-s {
    width: 60%;
    margin: auto;
}

.card-height {
    min-height: 65vh;
}

hr {
    opacity: 50%;
}

.card-header {
    padding: 1rem !important;
}

.card-body {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 2rem !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f2f2f2 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0.5rem !important;
}