<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <div style="margin: auto">
            <div class="card" style="min-height: 60vh">
                <div class="card-header ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Booking details</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div style="width:80%; margin: auto">

                        <div class="d-flex">
                            <div class="pe-4" style="width: 50%; float: left">
                                <p class="h5">Guest</p>
                                <span th:text="${bookingDetails.guestFirstName} + ' '  + ${bookingDetails.guestLastName}"></span>
                                <br>
                                <span>Straße 123</span>
                                <br>
                                <span>1234 Stadt DTO !!!!!!!!!!!!!!!!!!!</span>
                            </div>

                            <div class="ps-4" style="width: 50%; float: left">
                                <p class="h5">Booking</p>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Date:</td>
                                        <td th:text="${bookingDetails.checkInDate} + ' - ' + ${bookingDetails.checkOutDate}"></td>
                                    </tr>
                                    <tr>
                                        <td>Adults:</td>
                                        <td th:text="${bookingDetails.amountOfAdults}"></td>
                                    </tr>
                                    <tr>
                                        <td>Children:&nbsp;&nbsp;&nbsp;</td>
                                        <td th:text="${bookingDetails.amountOfChildren}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <br>

                        <div class="mt-4">
                            <p class="h5">Room Categories</p>
                            <table class="table table-striped">
                                <tbody>
                                <tr th:each="category : ${bookingDetails.categoriesWithAmounts}" th:if="${category.value != 0}" th:with="name = ${category.key}, amount = ${category.value}">
                                    <td class="align-middle col" th:text="${name}"></td>
                                    <td class="align-middle col-3" th:text="${amount}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="mt-4">
                            <p class="h5">Services</p>
                            <table class="table table-striped">
                                <tbody>
                                <tr th:each="service : ${bookingDetails.services}" th:with="name = ${service.key}, price = ${service.value}">
                                    <td class="align-middle col" th:text="${name}"></td>
                                    <td class="align-middle col-3" th:text="'€' + ${price} + ' per day/room'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-4">
                            <p class="h5">Additional information</p>
                            <textarea style="min-width: 100%" disabled th:text="${bookingDetails.additionalInformation}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" onclick="history.back()">Back</button>
                    <a class="btn btn-primary float-end" th:href="@{'/check-in?bookingId=' + ${bookingDetails.bookingId()} + '&isCheckedIn=false'}">Assign rooms</a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>