<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <link rel="stylesheet" href="/css/datatables.min.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/datatables.js"></script>
    <script src="/js/datatables.bootstrap.js"></script>

</head>

<body id="Bookings">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card card-height">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - services</span>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%">3/5</div>
                    </div>
                </div>
                <div class="card-body px-5 py-4">
                    <form id="myform" action="/createbooking/guest" method="post" th:object="${bookingForm}">
                        <input type="hidden" id="guestId" name="guestId" th:field="${bookingForm.guestId}" />
                        <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="${bookingForm.roomCategoryIds}" />
                        <input type="hidden" id="amounts" name="amounts" th:field="${bookingForm.amountsOfRoomCategories}" />
                        <input type="hidden" id="checkInDate" name="checkInDate" th:field="${bookingForm.checkInDate}" />
                        <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="${bookingForm.checkOutDate}" />
                        <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="${bookingForm.amountOfAdults}" />
                        <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="${bookingForm.amountOfChildren}" />

                        <input type="hidden" id="firstName" name="firstName" th:field="${guestForm.firstName}" />
                        <input type="hidden" id="lastName" name="lastName" th:field="${guestForm.lastName}" />
                        <input type="hidden" id="gender" name="gender" th:field="${guestForm.gender}" />
                        <input type="hidden" id="eMail" name="eMail" th:field="${guestForm.eMail}" />
                        <input type="hidden" id="phoneNumber" name="phoneNumber" th:field="${guestForm.phoneNumber}" />
                        <input type="hidden" id="birthDate" name="birthDate" th:field="${guestForm.birthDate}" />
                        <input type="hidden" id="streetName" name="streetName" th:field="${guestForm.streetName}" />
                        <input type="hidden" id="streetNumber" name="streetNumber" th:field="${guestForm.streetNumber}" />
                        <input type="hidden" id="zipCode" name="zipCode" th:field="${guestForm.zipCode}" />
                        <input type="hidden" id="city" name="city" th:field="${guestForm.city}" />
                        <input type="hidden" id="country" name="country" th:field="${guestForm.country}" />
                        <input type="hidden" id="discountInPercent" name="discountInPercent" th:field="${guestForm.discountInPercent}" />

                        <div class="p-3" style="background-color: #f7f7f7">
                            <div  style="min-height: 62.5vh">
                                <table id="t1" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-1"></th>
                                        <th class="col-6">Name</th>
                                        <th class="col-4">Price per day</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="service : ${services}">
                                            <td class="align-middle">
                                                <div class="form-check">
                                                    <input th:field="${bookingForm.serviceIds}" class="form-check-input" type="checkbox" th:value="${service.id}">
                                                </div>
                                            </td>
                                            <td class="align-middle" th:text="${service.name}"></td>
                                            <td class="align-middle" th:text="${service.price} + '€'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <span>Additional information:</span>
                            <textarea style="min-width: 100%" rows="3" id="additionalInformation" name="additionalInformation" th:field="${bookingForm.additionalInformation}"></textarea>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button name="action" value="back"  class="btn btn-primary" form="myform" type="submit">Back</button>
                    <button name="action" value="next"  class="btn btn-primary float-end" form="myform" type="submit">Next</button>
                </div>
            </div>
        </div>

        <script>
            $('#t1').DataTable({
                "order": [ 1, "asc" ],
                "scrollCollapse": true,
                "scrollY": "53vh",
                "paging":   false,
                "info":     false,
                columnDefs: [
                    { orderable: false, targets: [0]}
                ]
            });
        </script>

    </div>

</body>
</html>
