<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <h1>Choose Guest new</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="/createbooking/date" method="post" th:object="${booking}">
                    <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
                    <input type="hidden" id="amounts" name="amounts" th:field="*{amounts}" />
                    <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />
                    <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" />
                    <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" />

                    <select th:field="*{guestId}" id="guest-select" class="form-select" multiple aria-label="select guest">
                        <option th:each="guest : ${guests}"
                                th:value="${guest.id}"
                                th:text="${guest.firstName}
                            + ' '
                            + ${guest.lastName}
                            + ', '
                            + ${guest.birthDate}">
                        </option>
                    </select>
                    <button id="next-button" type="submit" class="btn btn-primary">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
