<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Create booking">

<div layout:fragment="content">

  <p class="h3">Create booking - summary</p>
  <br>

  <div th:if="${isCreated}">
    <div class="progress" style="height: 4px; margin-top: 10px">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #198754" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div th:if="${!isCreated}">
    <div class="progress" style="height: 4px; margin-top: 10px">
      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <br>

  <h5>Guest information:</h5>
  <p th:text="${bookingSummary.guestFirstName} + ' '  + ${bookingSummary.guestLastName}"></p>

  <h5>Additional Information:</h5>
  <div class="mb-3">
    <p th:text="${bookingSummary.additionalInformation}"></p>
  </div>

  <h5>Booking information:</h5>
  <p th:text="'Check in date: ' + ${bookingSummary.checkInDate}"></p>
  <p th:text="'Check out date: ' + ${bookingSummary.checkOutDate}"></p>

  <h6>Amount of guests:</h6>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Adults</th>
      <th>Children</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${bookingSummary.amountOfAdults}"></td>
      <td th:text="${bookingSummary.amountOfChildren}"></td>
    </tr>
    </tbody>
  </table>

  <h6>Room Categories:</h6>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${bookingSummary.categoriesWithAmounts}" th:if="${category.value != 0}"
        th:with="name = ${category.key}, amount = ${category.value}">
      <td th:text="${name}"></td>
      <td th:text="${amount}"></td>
    </tr>
    </tbody>
  </table>

  <h6>Services:</h6>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${bookingSummary.services}"
        th:with="name = ${service.key}, price = ${service.value}">
      <td th:text="${name}"></td>
      <td th:text="${price} + '€'"></td>
    </tr>
    </tbody>
  </table>

  <div th:if="${isCreated}" class="alert alert-success" role="alert">
    Booking successfully created!
  </div>

  <form th:if="${!isCreated}" action="/createbooking?isCreated=true" method="post" th:object="${bookingForm}">
    <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
    <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />
    <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
    <input type="hidden" id="amounts" name="amounts" th:field="*{amountsOfRoomCategories}" />
    <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" />
    <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" />
    <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="*{amountOfAdults}" />
    <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="*{amountOfChildren}" />
    <input type="hidden" id="additionalInformation" name="additionalInformation" th:field="*{additionalInformation}" />

    <button id="next-button" type="submit" class="btn btn-primary">Create booking</button>
  </form>
  <a class="btn btn-primary" th:if="${isCreated}" href="/">Back to main menu</a>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>