<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card card-height">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - summary</span>
                        </div>
                    </div>
                    <br>
                    <div th:if="${!isCreated}">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%">5/5</div>
                        </div>
                    </div>
                    <div th:if="${isCreated}">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">5/5</div>
                        </div>
                    </div>
                    <div th:if="${isCreated}" class="alert alert-success" role="alert">
                        Booking successfully created!
                    </div>
                </div>
                <div class="card-body px-5 py-4">
                    <form th:if="${!isCreated}" id="myform" action="/createbooking?isCreated=true" method="post" th:object="${bookingForm}">
                        <input type="hidden" id="guestId" name="guestId" th:field="${bookingForm.guestId}" />
                        <input type="hidden" id="serviceId" name="serviceId" th:field="${bookingForm.serviceIds}" />
                        <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="${bookingForm.roomCategoryIds}" />
                        <input type="hidden" id="amounts" name="amounts" th:field="${bookingForm.amountsOfRoomCategories}" />
                        <input type="hidden" id="checkInDate" name="checkInDate" th:field="${bookingForm.checkInDate}" />
                        <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="${bookingForm.checkOutDate}" />
                        <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="${bookingForm.amountOfAdults}" />
                        <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="${bookingForm.amountOfChildren}" />
                        <input type="hidden" id="additionalInformation" name="additionalInformation" th:field="${bookingForm.additionalInformation}" />

                        <input type="hidden" id="firstName" name="firstName" th:field="${guestForm.firstName}" />
                        <input type="hidden" id="lastName" name="lastName" th:field="${guestForm.lastName}" />
                        <input type="hidden" id="gender" name="gender" th:field="${guestForm.gender}" />
                        <input type="hidden" id="eMail" name="eMail" th:field="${guestForm.eMail}" />
                        <input type="hidden" id="phoneNumber" name="phoneNumber" th:field="${guestForm.phoneNumber}" />
                        <input type="hidden" id="birthDate" name="birthDate" th:field="${guestForm.birthDate}" />
                        <input type="hidden" id="streetName" name="streetName" th:field="${guestForm.streetName}" />
                        <input type="hidden" id="streetNumber" name="streetNumber" th:field="${guestForm.streetNumber}" />
                        <input type="hidden" id="zipCode" name="zipCode" th:field="${guestForm.zipCode}" />
                        <input type="hidden" id="city" name="city" th:field="${guestForm.city}" />
                        <input type="hidden" id="country" name="country" th:field="${guestForm.country}" />
                        <input type="hidden" id="discountInPercent" name="discountInPercent" th:field="${guestForm.discountInPercent}" />
                    </form>

                    <div class="d-flex justify-content-between">
                        <div style="width: 25%;">
                            <p class="h5">Booking</p>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Check-in:</td>
                                    <td th:text="${bookingSummary.checkInDate}"></td>
                                </tr>
                                <tr>
                                    <td>Check-out:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td th:text="${bookingSummary.checkOutDate}"></td>
                                </tr>
                                <tr>
                                    <td>Adults:</td>
                                    <td th:text="${bookingSummary.amountOfAdults}"></td>
                                </tr>
                                <tr>
                                    <td>Children:</td>
                                    <td th:text="${bookingSummary.amountOfChildren}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 25%;">
                            <p class="h5">Guest</p>
                            <table>
                                <tbody>
                                <tr>
                                    <td th:text="${bookingSummary.guestFirstName} + ' '  + ${bookingSummary.guestLastName}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${bookingSummary.streetName} + ' '  + ${bookingSummary.streetNumber}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${bookingSummary.zipCode} + ' '  + ${bookingSummary.city}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${bookingSummary.country}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="mb-4 mt-2">
                        <p class="h5">Room Categories</p>
                        <table class="table table-sm table-hover">
                            <tbody>
                            <tr style="border: hidden" th:each="category : ${bookingSummary.categoriesWithAmounts}" th:if="${category.value != 0}" th:with="name = ${category.key}, amount = ${category.value}">
                                <td class="align-middle col" th:text="${name}"></td>
                                <td class="align-middle col-3" th:text="${amount}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mb-4">
                        <p class="h5">Services</p>
                        <table class="table table-sm table-hover">
                            <tbody>
                            <tr style="border: hidden" th:each="service : ${bookingSummary.services}" th:with="name = ${service.key}, price = ${service.value}">
                                <td class="align-middle col" th:text="${name}"></td>
                                <td class="align-middle col-3" th:text="'€' + ${price} + ' per day/room'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <p class="h5">Additional information</p>
                        <textarea style="min-width: 100%" disabled th:text="${bookingSummary.additionalInformation}"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <div th:if="${!isCreated}">
                        <button class="btn btn-primary" onclick="history.back()">Back</button>
                        <button class="btn btn-primary float-end" form="myform" type="submit" onClick="amountValidation()">Create booking</button>
                    </div>
                    <div th:if="${isCreated}">
                        <a class="btn btn-primary float-end" href="/">Back to main menu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>