<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <link rel="stylesheet" href="/css/datatables.min.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/datatables.js"></script>
    <script src="/js/datatables.bootstrap.js"></script>

</head>

<body id="Bookings">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - services</span>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%">3/5</div>
                    </div>
                </div>
                <div class="card-body">

                    <form id="myform" action="/createbooking/guest" method="post" th:object="${bookingForm}">
                        <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}"/>
                        <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}"/>
                        <input type="hidden" id="amounts" name="amounts" th:field="*{amountsOfRoomCategories}"/>
                        <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}"/>
                        <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}"/>
                        <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="*{amountOfAdults}"/>
                        <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="*{amountOfChildren}"/>

                        <table id="t1" class="table stripe">
                            <thead>
                                <tr>
                                    <th class="col"></th>
                                    <th class="col-6">Name</th>
                                    <th class="col-6">Price per day</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="service : ${services}">
                                    <td class="align-middle">
                                        <div class="form-check">
                                            <input th:field="*{serviceIds}" class="form-check-input" type="checkbox" th:value="${service.id}">
                                        </div>
                                    </td>
                                    <td class="align-middle" th:text="${service.name}"></td>
                                    <td class="align-middle" th:text="${service.price} + '€'"></td>
                                </tr>
                            </tbody>
                        </table>
                        <span>Additional information:</span>
                        <textarea style="min-width: 100%" rows="3" id="additionalInformation" name="additionalInformation" th:field="*{additionalInformation}"></textarea>
                    </form>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" onclick="history.back()">Back</button>
                    <button class="btn btn-primary float-end" form="myform" type="submit">Next</button>
                </div>
            </div>
        </div>

        <script>
            // table initialization
            let table1 = $('#t1').DataTable({
                "order": [ 1, "asc" ],
                "scrollCollapse": true,
                "scrollY": "24vh",
                "paging":   false,
                "info":     false,
                columnDefs: [
                    { orderable: false, targets: [0]}
                ]
            });
        </script>

    </div>

</body>
</html>
