<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <link rel="stylesheet" href="/css/datatables.min.css">

    <script src="/js/jquery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/datatables.js"></script>
    <script src="/js/datatables.bootstrap.js"></script>

</head>

<body id="Bookings" onload="isGuestSelected()">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card card-height">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - guest details</span>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%">4/5</div>
                    </div>
                    <br>
                    <ul class="nav nav-tabs card-header-tabs d-flex justify-content-between" id="myTab" role="tablist">
                        <li class="nav-item col text-center" role="presentation">
                            <a class="btn btn-outline-dark active" data-bs-toggle="tab" href="#createGuestForm" role="tab" id="btnCreateGuest" onclick="switchToCreateGuest()">New guest</a>
                        </li>
                        <li class="nav-item col text-center" role="presentation">
                            <a class="btn btn-outline-dark" data-bs-toggle="tab" href="#chooseGuest" role="tab" id="btnChooseGuest" onclick="switchToChooseGuest()">Load guest</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body px-5 py-4">
                    <form id="myform" action="/createbooking/summary?isCreated=false" method="post" th:object="${guestForm}">
                        <input type="hidden" id="roomCategoryIds" name="roomCategoryIds" th:field="${bookingForm.roomCategoryIds}"/>
                        <input type="hidden" id="amountsOfRoomCategories" name="amountsOfRoomCategories" th:field="${bookingForm.amountsOfRoomCategories}"/>
                        <input type="hidden" id="serviceIds" name="serviceIds" th:field="${bookingForm.serviceIds}"/>
                        <input type="hidden" id="checkInDate" name="checkInDate" th:field="${bookingForm.checkInDate}"/>
                        <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="${bookingForm.checkOutDate}"/>
                        <input type="hidden" id="additionalInformation" name="additionalInformation" th:field="${bookingForm.additionalInformation}"/>

                        <div class="tab-content p-3" style="background-color: #f7f7f7; min-height: 57vh">
                            <div id="createGuestForm" class="tab-pane fade show active" role="tabpanel">
                                <div class="d-flex justify-content-between">
                                    <div class="form-floating" style="width: 25%;">
                                        <select class="form-select" id="gender" th:field="*{gender}">
                                            <option th:each="genderValue : ${T(at.fhv.se.hotel.domain.model.guest.Gender).values()}"
                                                    th:text="${genderValue.friendlyName}" th:value="${genderValue}"></option>
                                        </select>
                                        <label for="gender">Gender<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                    </div>
                                    <div class="form-floating" style="width: 25%;">
                                        <input class="form-control" id="discount" type="number" placeholder=" " min="0" max="100" th:value="0" th:field="*{discountInPercent}">
                                        <label for="discount">Discount [%]</label>
                                    </div>
                                </div>

                                <br>

                                <div class="d-flex pb-1">
                                    <div class="form-floating me-1" style="width: 50%;">
                                        <input class="form-control" id="firstname" type="text" placeholder=" " required th:field="*{firstName}" >
                                        <label for="firstname">Firstname<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                    </div>
                                    <div class="form-floating ms-1" style="width: 50%;">
                                        <input class="form-control" id="lastname" type="text" placeholder=" " required th:field="*{lastName}">
                                        <label for="lastname">Lastname<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                                    </div>
                                </div>

                                <div class="d-flex py-1">
                                    <div class="form-floating me-1" style="width: 50%;">
                                        <input class="form-control" id="streetname" type="text" placeholder=" " required th:field="*{streetName}">
                                        <label for="streetname">Street name<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"></div>
                                    </div>
                                    <div class="form-floating ms-1" style="width: 50%;">
                                        <input class="form-control" id="streetnumber" type="text" placeholder=" " required th:field="*{streetNumber}">
                                        <label for="streetnumber">Street number<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}"></div>
                                    </div>
                                </div>

                                <div class="d-flex py-1">
                                    <div class="form-floating me-1" style="width: 50%;">
                                        <input class="form-control" id="zipcode" type="text" placeholder=" " required th:field="*{zipCode}">
                                        <label for="zipcode">Zip code<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></div>
                                    </div>
                                    <div class="form-floating ms-1" style="width: 50%;">
                                        <input class="form-control" id="city" type="text" placeholder=" " required th:field="*{city}">
                                        <label for="city">City<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                                    </div>
                                </div>

                                <div class="d-flex pt-1">
                                    <div class="form-floating pe-1" style="width: 50%;">
                                        <input class="form-control" id="country" type="text" placeholder=" " required th:field="*{country}">
                                        <label for="country">Country<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                                    </div>
                                </div>

                                <br>
                                <br>

                                <div class="d-flex">
                                    <div class="form-floating pe-1" style="width: 50%;">
                                        <input class="form-control" id="birthdate" type="date" placeholder=" " required th:field="*{birthDate}">
                                        <label for="birthdate">Birthdate<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                                    </div>
                                </div>

                                <br>
                                <br>

                                <div class="d-flex">
                                    <div class="form-floating me-1" style="width: 50%;">
                                        <input class="form-control" id="email" type="email" placeholder=" " required th:field="*{eMail}">
                                        <label for="email">Email<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}"></div>
                                    </div>
                                    <div class="form-floating ms-1" style="width: 50%;">
                                        <input class="form-control" id="phonenumber" type="tel" placeholder=" " required th:field="*{phoneNumber}">
                                        <label for="phonenumber">Phone number<span style="color:red;">*</span></label>
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="chooseGuest" role="tabpanel" style="display: none">
                                <table id="t1" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-1"></th>
                                        <th class="col-4">Guest</th>
                                        <th class="col-6">Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="guest : ${guests}">
                                        <td class="align-middle">
                                            <div class="form-check">
                                                <input class="form-check-input" id="guestId" name="guestId" type="radio" th:field="${bookingForm.guestId}" th:value="${guest.id}">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <span class="text-nowrap" th:text="${guest.firstName} + ' '"></span>
                                            <span class="text-nowrap" th:text="${guest.lastName}"></span>
                                        </td>
                                        <td class="align-middle">
                                            <span class="text-nowrap" th:text="${guest.streetName} + ' ' + ${guest.streetNumber} + ', '"></span>
                                            <span class="text-nowrap" th:text="${guest.zipCode} + ' ' + ${guest.city}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="d-flex p-3 mt-4">
                            <div class="input-group me-1" style="width: 50%;">
                                <span class="input-group-text col-5">Adults [15-99 yrs.]</span>
                                <input class="form-control" type="number" id="amountOfAdults" name="amountOfAdults" th:field="${bookingForm.amountOfAdults}" value="1" >
                                <div class="form-text"> </div>
                            </div>
                            <div class="input-group ms-1" style="width: 50%;">
                                <span class="input-group-text col-5">Children [0-14 yrs.]</span>
                                <input class="form-control" type="number" id="amountOfChildren" name="amountOfChildren" th:field="${bookingForm.amountOfChildren}" value="0" th:min="0" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button name="action" value="back" class="btn btn-primary" form="myform" type="submit" onclick="notRequired()">Back</button>
                    <button name="action" value="next" class="btn btn-primary float-end" form="myform" type="submit" >Next</button>
                </div>
            </div>
        </div>

        <script>
            let tableInitialized = 0;

            //When clicking back, inputs are not required
            function notRequired(){
                $(":radio").prop("required", false);

                $("#gender").prop("required", false);
                $("#firstname").prop("required", false);
                $("#lastname").prop("required", false);
                $("#streetname").prop("required", false);
                $("#streetnumber").prop("required", false);
                $("#zipcode").prop("required", false);
                $("#city").prop("required", false);
                $("#country").prop("required", false);
                $("#email").prop("required", false);
                $("#phonenumber").prop("required", false);
                $("#birthdate").prop("required", false);
                document.getElementById("amountOfAdults").min = "0";
            }

            function isGuestSelected(){
                //Check if one radio button is checked
                let radioButtons = $('input[id=guestId]:checked');
                if (radioButtons.length > 0){
                    switchToChooseGuest();          //if one guest is selected, then show list of Guests
                    document.getElementById("btnCreateGuest").classList.remove("active");
                    document.getElementById("btnChooseGuest").classList.add("active");
                } else{
                    switchToCreateGuest();          //else show guest form
                }
            }

            function switchToCreateGuest() {
                let createGuestForm = $('#createGuestForm');

                if(createGuestForm.is((":hidden"))) {
                    $('#chooseGuest').toggle();
                    $(":radio").prop("required", false).prop("checked", false);

                    createGuestForm.toggle();
                    $("#gender").prop("required", true);
                    $("#firstname").prop("required", true);
                    $("#lastname").prop("required", true);
                    $("#streetname").prop("required", true);
                    $("#streetnumber").prop("required", true);
                    $("#zipcode").prop("required", true);
                    $("#city").prop("required", true);
                    $("#country").prop("required", true);
                    $("#email").prop("required", true);
                    $("#phonenumber").prop("required", true);
                    $("#birthdate").prop("required", true);
                    document.getElementById("amountOfAdults").min = "1"
                }
            }

            function switchToChooseGuest() {
                let chooseGuest = $('#chooseGuest');

                if(chooseGuest.is(":hidden")) {
                    $('#createGuestForm').toggle();
                    $("#gender").prop("required", false);
                    $("#firstname").prop("required", false).val('');
                    $("#lastname").prop("required", false).val('');
                    $("#streetname").prop("required", false).val('');
                    $("#streetnumber").prop("required", false).val('');
                    $("#zipcode").prop("required", false).val('');
                    $("#city").prop("required", false).val('');
                    $("#country").prop("required", false).val('');
                    $("#email").prop("required", false).val('');
                    $("#phonenumber").prop("required", false).val('');
                    $("#birthdate").prop("required", false).val('');

                    chooseGuest.toggle();
                    $(":radio").prop("required", true);
                    document.getElementById("amountOfAdults").min = "1"

                    if(tableInitialized === 0) {
                        $('#t1').DataTable({
                            "order": [ 1, "asc" ],
                            "scrollCollapse": true,
                            "scrollY": "46vh",
                            "paging":   false,
                            "info":     false,
                            columnDefs: [
                                { orderable: false, targets: [0]}
                            ]
                        });

                        tableInitialized = 1;
                    }
                }
            }
        </script>
    </div>

</body>
</html>