<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Create booking">

<div layout:fragment="content">

  <p class="h3">Create booking - summary</p>
  <br>

  <div th:if="${create}">
    <div class="progress" style="height: 4px; margin-top: 10px">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #198754" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div th:if="${!create}">
    <div class="progress" style="height: 4px; margin-top: 10px">
      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>





  <br>

  <p th:text="${bookingSummary.guest.firstName} + ' '  + ${bookingSummary.guest.lastName}  + ', ' + ${bookingSummary.guest.birthDate}"></p>
  <p th:text="'Check in date: ' + ${bookingSummary.checkInDate}"></p>
  <p th:text="'Check out date: ' + ${bookingSummary.checkOutDate}"></p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${bookingSummary.services}">
      <td th:text="${service.name}"></td>
      <td th:text="${service.price} + '€'"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${bookingSummary.categoriesWithAmounts}" th:if="${category.value != 0}">
      <td th:text="${category.key.name}"></td>
      <td th:text="${category.value}"></td>
    </tr>
    </tbody>
  </table>

  <div th:if="${create}" class="alert alert-success" role="alert">
    Booking successfully created!
  </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <form th:if="${!create}" action="/createbooking?create=true" method="post" th:object="${booking}">
    <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
    <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />
    <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
    <input type="hidden" id="amounts" name="amounts" th:field="*{amounts}" />
    <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" />
    <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" />
    <button id="next-button" type="submit" class="btn btn-primary">Create booking</button>
  </form>
  <a class="btn btn-primary" th:if="${create}" href="/">Back to main menu</a>

</div>
</body>
</html>