<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <div style="width:50%; margin: auto">
            <div class="card">
                <div class="card-header ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - dates</span>
                        </div>
                        <div>
                            <a class="btn btn-primary" id="modify" onclick="changeState()">Modify</a>
                            <a class="btn btn-outline-danger" id="reset" href="/rooms" hidden>Reset</a>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 20%">1/5</div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="f1" action="/createbooking/category" method="post" th:object="${bookingForm}">
                        <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
                        <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
                        <input type="hidden" id="amounts" name="amounts" th:field="*{amountsOfRoomCategories}" />
                        <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />
                        <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="*{amountOfAdults}" />
                        <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="*{amountOfChildren}" />
                        <input type="hidden" id="additionalInformation" name="additionalInformation" th:field="*{additionalInformation}" />

                        <div class="row">
                            <div class="col-6">
                                <label for="checkin">Check in date:</label>
                                <input th:field="*{checkInDate}" data-date-format="DD MMMM YYYY" type="date" id="checkin" name="checkin" th:required="required">
                            </div>
                            <div class="col-6">
                                <label for="checkout">Check out date:</label>
                                <input th:field="*{checkOutDate}" type="date" id="checkout" name="checkout" th:requred="required">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary float-end" form="f1" type="submit" onClick="DateValidation()">Next</button>
                </div>
            </div>
        </div>

        <script>


            function DateValidation() {
                let checkin = document.getElementById('checkin');
                let checkout = document.getElementById('checkout');
                let today = new Date();
                let checkinDate = new Date(checkin.value);
                let todayDay = today.getDate();
                let todayMonth = today.getMonth();
                let todayYear = today.getFullYear();
                let checkinDay = checkinDate.getDate();
                let checkinMonth = checkinDate.getMonth();
                let checkinYear = checkinDate.getFullYear();

                if (checkinDay >= todayDay && checkinMonth >= todayMonth && checkinYear == todayYear  || checkinYear > todayYear) {
                    checkin.setCustomValidity('');
                } else {
                    checkin.setCustomValidity('Checkin date must be in the future!');
                }

                console.log('checkin customError ', document.getElementById('checkin').validity.customError);
                console.log('checkin validationMessage ', document.getElementById('checkin').validationMessage);

                if (checkin.value < checkout.value) {
                    checkout.setCustomValidity('');
                } else {
                    checkout.setCustomValidity('Checkout date must be placed after the checkin date!');
                }

                console.log('checkout customError ', document.getElementById('checkout').validity.customError);
                console.log('checkout validationMessage ', document.getElementById('checkout').validationMessage);
            }
        </script>

    </div>

</body>
</html>