<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Create booking">

    <div layout:fragment="content">

    <p class="h3">Create booking - services</p>
    <br>

    <div class="progress" style="height: 4px; margin-top: 10px">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <br>

        <form action="/createbooking/guest" method="post" th:object="${bookingForm}">
            <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
            <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
            <input type="hidden" id="amounts" name="amounts" th:field="*{amountsOfRoomCategories}" />
            <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" />
            <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" />
            <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="*{amountOfAdults}" />
            <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="*{amountOfChildren}" />

            <div class="mb-3">
                <label for="additionalInformation" class="form-label">Additional Information</label>
                <textarea th:field="*{additionalInformation}" class="form-control" id="additionalInformation" name="additionalInformation" rows="3"></textarea>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td>
                        <div class="form-check">
                            <input th:field="*{serviceIds}" class="form-check-input" type="checkbox" th:value="${service.id}" id="flexCheckDefault">
                        </div>
                    </td>
                    <td th:text="${service.name}"></td>
                    <td th:text="${service.price} + '€'"></td>
                </tr>
                </tbody>
            </table>
            <button id="next-button" type="submit" class="btn btn-primary">Next</button>
        </form>
<!--
        <br>

        <label>Additional notes:</label>
        <textarea></textarea>

        <br>
        <br>
        <label>Payment method</label>
        <select class="form-select" aria-label="Default select" >
            <option selected="1">Credit card</option>
            <option value="2">cash</option>
        </select>
-->

    </div>
</body>
</html>
