<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card" style="min-height: 50vh; margin: auto">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Create booking - room categories</span>
                        </div>
                    </div>
                    <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%">2/5</div>
                    </div>
                </div>
                <div class="card-body px-5 py-4">
                    <form id="myform" action="/createbooking/service" method="post" th:object="${bookingForm}">
                        <input type="hidden" id="guestId" name="guestId" th:field="${bookingForm.guestId}" />
                        <input type="hidden" id="serviceId" name="serviceId" th:field="${bookingForm.serviceIds}" />
                        <input type="hidden" id="checkInDate" name="checkInDate" th:field="${bookingForm.checkInDate}" />
                        <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="${bookingForm.checkOutDate}" />
                        <input type="hidden" id="amountOfAdults" name="amountOfAdults" th:field="${bookingForm.amountOfAdults}" />
                        <input type="hidden" id="amountOfChildren" name="amountOfChildren" th:field="${bookingForm.amountOfChildren}" />
                        <input type="hidden" id="additionalInformation" name="additionalInformation" th:field="${bookingForm.additionalInformation}" />

                        <input type="hidden" id="firstName" name="firstName" th:field="${guestForm.firstName}" />
                        <input type="hidden" id="lastName" name="lastName" th:field="${guestForm.lastName}" />
                        <input type="hidden" id="gender" name="gender" th:field="${guestForm.gender}" />
                        <input type="hidden" id="eMail" name="eMail" th:field="${guestForm.eMail}" />
                        <input type="hidden" id="phoneNumber" name="phoneNumber" th:field="${guestForm.phoneNumber}" />
                        <input type="hidden" id="birthDate" name="birthDate" th:field="${guestForm.birthDate}" />
                        <input type="hidden" id="streetName" name="streetName" th:field="${guestForm.streetName}" />
                        <input type="hidden" id="streetNumber" name="streetNumber" th:field="${guestForm.streetNumber}" />
                        <input type="hidden" id="zipCode" name="zipCode" th:field="${guestForm.zipCode}" />
                        <input type="hidden" id="city" name="city" th:field="${guestForm.city}" />
                        <input type="hidden" id="country" name="country" th:field="${guestForm.country}" />
                        <input type="hidden" id="discountInPercent" name="discountInPercent" th:field="${guestForm.discountInPercent}" />

                        <div style="width: 40%; margin: auto">
                            <div th:each="category, iter : ${categories}">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-5" th:text="${category.name}"></span>
                                    <input class="form-control" type="number" id="amount" name="amount" min="0" th:name="amountsOfRoomCategories" th:value="${bookingForm.getNextAmountOfRoomCategories(iter.index)}" th:placeholder="0">
                                </div>
                                <input class="form-control" id="roomCategoryId" hidden th:name="roomCategoryIds" th:value="${category.id}" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button name="action" value="back" class="btn btn-primary" form="myform" type="submit">Back</button>
                    <button name="action" value="next" class="btn btn-primary float-end" form="myform" type="submit" onclick="amountValidation()">Next</button>
                </div>
            </div>
        </div>

        <script>
            function amountValidation() {
                let elements = document.getElementById("myform").elements;
                let amount = document.getElementById("amount");
                let total = 0;

                for (let i = 0; i < elements.length; i++) {
                    if (elements[i].type === "number") {
                        total += elements[i].value;
                    }
                }

                if (total > 0) {
                    amount.setCustomValidity('');
                } else {
                    amount.setCustomValidity('Please choose at least 1 room of any category!');
                }
            }
        </script>
    </div>

</body>
</html>
