<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Guests">

    <div layout:fragment="content">

        <div class="d-flex">
            <p class="h3">Guests</p>
            <a class="btn btn-primary ms-5" href="createguest">Create guest</a>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Firstname</th>
                <th class="col-1">Lastname</th>
                <th class="col-1">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.firstName}"></td>
                <td th:text="${guest.lastName}"></td>
                <td>Hochschulstraße 1, 6850 Dornbirn</td>
            </tr>
            </tbody>
        </table>

        <!-- mail, number, ...? guestview -->

    </div>

</body>
</html>