<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Invoices">

    <div layout:fragment="content">

        <p class="h3">Invoices</p>

        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Invoice Number</th>
                <th class="col-1">Guest</th>
                <th class="col-1">Address</th>
                <th class="col-1">Amount</th>
                <th class="col-1">Payment Status</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invoice : ${invoices}">
                <td th:text="${invoice.invoiceNumber}"></td>
                <td th:text="${invoice.guestFirstName} + ' ' + ${invoice.guestLastName}"></td>
                <td th:text="${invoice.streetName} + ' ' + ${invoice.streetNumber} + ', ' +
                             ${invoice.zipCode} + ' ' + ${invoice.city}"></td>
                <td th:text="'€' + ${invoice.totalGrossAmount}"></td>
                <td th:if="${invoice.isPaid}">Paid</td>
                <td th:unless="${invoice.isPaid}">Pending</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="#">View</a>
                </td>
                <td>
                    <a th:href="@{/download-invoice/{invoiceNo}(invoiceNo=${invoice.invoiceNumber})}" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>