<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Rooms">

    <div layout:fragment="content">

        <p class="h3">Rooms</p>

        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Room Number</th>
                <th class="col-1">Room Category</th>
                <th class="col-1">State</th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>S101</td>
                <td>Single Room</td>
                <td>Free</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="#">Modify</a>
                    <a class="btn btn-danger btn-sm" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>S101</td>
                <td>Single Room</td>
                <td>
                    <select class="form-select" aria-label="Default select">
                        <option selected="">Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="#">Modify</a>
                    <a class="btn btn-danger btn-sm" href="#">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

