<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Stays">

    <div layout:fragment="content">

        <p class="h3">Stays</p>

        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Guest</th>
                <th class="col-1">Address</th>
                <th class="col-1">Rooms</th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ali Cinar</td>
                <td>Straße 1234, 6850 Dornbirn</td>
                <td>S101, S102, D304</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="#">View</a>
                </td>
            </tr>
            </tbody>
        </table>

        <p>infos?, button add services / generate bill ...?</p>

    </div>

</body>
</html>