<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Stays">

    <div layout:fragment="content">

        <p class="h3">Stays</p>

        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Guest</th>
                <th class="col-1">Room(s)</th>
                <th class="col-1">Check-out date</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stay : ${stays}" th:if="${stay.isActive}">
                <td th:text="${stay.guestFirstName} + ' ' + ${stay.guestLastName}"></td>
                <td>
                    <ul style="list-style: none">
                        <li th:each="room : ${stay.rooms}" th:text="${room}"></li>
                    </ul>
                </td>
                <td th:text="${stay.checkOutDate}"></td>
                <td></td>
                <td><a th:href="@{/staydetails/{id}(id=${stay.id})}" type="button" class="btn btn-primary btn-sm">View / Check-Out</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>