<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Stays">

    <div layout:fragment="content">

        <p class="h3">Stays</p>

        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Room(s)</th>
                <th class="col-1">Guest</th>
                <th class="col-1">Check-out date</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stay : ${stays}">
                <td>S101, S103</td>
                <td th:text="${stay.guestFirstName} + ' ' + ${stay.guestLastName}"></td>
                <td th:text="${stay.checkOutDate}"></td>
                <td></td>
                <td><a th:href="@{/}" type="button" class="btn btn-primary btn-sm">View / Check-out</a></td>
            </tr>
            </tbody>
        </table>

        <!-- infos?, button add services / generate bill ...? -->

    </div>

</body>
</html>