<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <h1>Bookings</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Room Category</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.roomCategory}"></td>
                <td th:text="${booking.startDate}"></td>
                <td th:text="${booking.endDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>