<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <h1>Bookings</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Guest</th>
                <th>Birthdate</th>
                <th>Check in date</th>
                <th>Check out date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.guestName}"></td>
                <td th:text="${booking.guestBirthDate}"></td>
                <td th:text="${booking.checkInDate}"></td>
                <td th:text="${booking.checkOutDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>