<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/html">
<body>
<div layout:fragment="content">
    <h1>Summary</h1>

    <!-- <p th:text="${bookingDetails.guest.firstName} + ' '  + ${bookingDetails.guest.lastName}  + ', ' + ${bookingDetails.guest.birthDate}"></p> -->
    <p th:text="${bookingDetails.guest.firstName} + ' '  + ${bookingDetails.guest.lastName}  + ', ' + ${bookingDetails.guest.streetName} + ' ' + ${bookingDetails.guest.streetNumber} + ', ' + ${bookingDetails.guest.city} + ', ' + ${bookingDetails.guest.zipCode} + ', ' + ${bookingDetails.guest.country}"></p>
    <p th:text="'Check in date: ' + ${bookingDetails.checkInDate}"></p>
    <p th:text="'Check out date: ' + ${bookingDetails.checkOutDate}"></p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${bookingDetails.services}">
            <td th:text="${service.name}"></td>
            <td th:text="${service.price} + '€'"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${bookingDetails.categoriesWithAmounts}" th:if="${category.value != 0}">
            <td th:text="${category.key.name}"></td>
            <td th:text="${category.value}"></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{'/assignedRooms?bookingId=' + ${bookingDetails.id} + '&isCheckedIn=false'}">
        Assign Rooms
    </a>
    <a th:href="@{/bookinglist}" type="button" class="btn btn-primary">Back</a>
</div>
</body>
</html>