<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Form.v1</title>
</head>
<body>

<form th:action = "@{/BookingForm}" th:object= "${form}" method = "POST">

    <div>
        <label>First Name:</label>
        <input type = "text" th:field = "*{firstName}" placeholder = "Max" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type = "text" th:field = "*{lastName}" placeholder = "Mustermann" />
    </div>
    <div>
        <label>E-Mail:</label>
        <input type = "text" th:field = "*{eMail}" placeholder = "m.m@example.com" />
    </div>
    <div>
        <label>Telephone Number:</label>
        <input type = "text" th:field = "*{tel}" placeholder = "+33 123 456 789" />
    </div>
    <div>
        <label>Birth-Date:</label>
        <input type = "date" th:field = "*{birthDate}" placeholder = "DD/MM/YYYY" />
    </div>
    <div>
        <label>Address:</label><br>
        <div>
            <label>Country:</label>
            <input type = "text" th:field = "*{country}" placeholder = "Country">
        </div>
        <div>
            <label>Postal Code:</label>
            <input type = "text" th:field = "*{postalCode}" placeholder = "1234" />
        </div>
        <div>
            <label>City:</label>
            <input type = "text" th:field = "*{city}" placeholder = "CityXYZ" />
        </div>
        <div>
            <label>Street Name:</label>
            <input type = "text" th:field = "*{streetName}" placeholder = "Lagistraße"/>
        </div>
        <div>
            <label>Streetnumber</label>
            <input type = "text" th:field = "*{streetNumber}" placeholder = "1"/>
        </div>
    </div>
    <!--<div>
        <label>Booked From:</label>
        <input type = "date" th:field = "*{bookedFrom}" placeholder = "DD/MM/YYYY"/>
    </div> -->
    <div>
        <label>Booked Until:</label>
        <input type = "date" th:field = "*{bookedUntil}" placeholder = "DD/MM/YYYY"/>
    </div>
    <input type = "submit" value = "Submit">
</form>

</body>
</html>