<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <div class="div-width-s">
            <div class="card card-height">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 align-middle">Assign Rooms</span>
                        </div>
                    </div>
                    <div th:if="${isCheckedIn}">
                        <br>
                        <div class="alert alert-success" role="alert">Checked in successfully!</div>
                    </div>
                </div>
                <div class="card-body">
                    <div style="width:40%; margin: auto">
                        <div th:each="room : ${assignedRooms}">
                            <div style="margin-bottom: 2em" class="input-group">
                                <span class="input-group-text col-5" th:text="${room.categoryName}"></span>
                                <select class="form-select">
                                        <option th:value="${room.name}" th:text="${room.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div th:if="${!isCheckedIn}">
                        <button class="btn btn-primary" onclick="history.back()">Back</button>
                        <a class="btn btn-primary float-end" th:href="@{'/check-in?bookingId=' + ${bookingId} + '&isCheckedIn=true'}">Check-in</a>
                    </div>
                    <div th:if="${isCheckedIn}">
                        <a class="btn btn-primary float-end" th:href="@{/}">Back to main menu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>