<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Bookings">

    <div layout:fragment="content">

        <form th:action="@{/check-in}" method="post" th:object="${checkInForm}">
            <input type="hidden" id="bookingId" name="bookingId" th:field="*{bookingId}"/>

            <div class="div-width-s">
                <div class="card card-height">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="h4 align-middle">Assign Rooms</span>
                            </div>
                        </div>
                    </div>
                        <div class="card-body">
                            <div style="width:40%; margin: auto">

                                <div th:each="assignedRoom : ${assignedRooms}">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text col-5" th:text="${assignedRoom.categoryName}"></span>
                                        <select class="form-select" th:name="roomNames">
                                            <option th:each="freeRoom : ${freeRooms}" th:value="${freeRoom.name}"
                                                    th:text="${freeRoom.name}" th:selected="${freeRoom.name == assignedRoom.name}"></option>
                                        </select>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" th:href="@{/bookingdetails/{id}(id=${bookingId})}">Back</a>
                            <button type="submit" class="btn btn-success float-end">Check-in</button>
                        </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>