<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <h1>Choose Guest</h1>
            </div>
        </div>

        <form th:action="@{/chooseguest}" method="get">
            <div class="row">
                <div class="col-6">
                    <input name="id" class="form-control me-2" type="search" placeholder="Search by id" aria-label="Search by id">
                    <button type="submit" class="btn btn-info">Search</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                </div>
                <div class="col-6">
                    <input name="name" class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search by name">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Birthdate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="guest : ${guests}">
                            <td th:text="${guest.firstName}"></td>
                            <td th:text="${guest.lastName}"></td>
                            <td th:text="${guest.birthDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
