<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <h1>Room Categories</h1>
        <form action="/chooseservice" method="post" th:object="${form}">
            <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
            <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td>
                        <div class="form-check">
                            <input th:field="*{roomCategoryIds}" class="form-check-input" type="checkbox" th:value="${category.id}" id="flexCheckDefault">
                        </div>
                    </td>
                    <td th:text="${category.name}"></td>
                </tr>
                </tbody>
            </table>
            <button id="next-button" type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</body>
</html>
