<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <h1>Check in & Check out date</h1>

            <form action="/choosecategory" method="post" th:object="${form}">
                <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
                <input type="hidden" id="roomCategoryId" name="roomCategoryId" th:field="*{roomCategoryIds}" />
                <input type="hidden" id="amounts" name="amounts" th:field="*{amounts}" />
                <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />

                <div class="row">
                    <div class="col-6">
                        <label for="checkin">Check in date:</label>
                        <input th:field="*{checkInDate}" type="date" id="checkin" name="checkin" th:required="required">
                    </div>
                    <div class="col-6">
                        <label for="checkout">Check out date:</label>
                        <input th:field="*{checkOutDate}" type="date" id="checkout" name="checkout" th:requred="required">
                    </div>
                </div>
                <button id="next-button" type="submit" class="btn btn-primary" onClick="DateValidation()">Next</button>
                <script>
                    function DateValidation() {
                        let checkin = document.getElementById('checkin');
                        let checkout = document.getElementById('checkout');
                        let today = new Date();
                        let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                        if (checkin.value >= date){
                            checkin.setCustomValidity('');
                        } else {
                            checkin.setCustomValidity('Checkin date msut be in the future!');
                        }
                        console.log('checkin customError ', document.getElementById('checkin').validity.customError);
                        console.log('checkin validationMessage ', document.getElementById('checkin').validationMessage);
                        if (checkin.value < checkout.value) {
                            checkout.setCustomValidity('');
                        } else {
                            checkout.setCustomValidity('Checkout date must be placed after the checkin date!');
                        }
                        console.log('checkout customError ', document.getElementById('checkout').validity.customError);
                        console.log('checkout validationMessage ', document.getElementById('checkout').validationMessage);
                    }
                </script>
            </form>

    </div>
</body>
</html>