<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <h1>Room Categories</h1>
        <form action="/chooseservice" method="post" id="myform" th:object="${form}">
            <input type="hidden" id="guestId" name="guestId" th:field="*{guestId}" />
            <input type="hidden" id="serviceId" name="serviceId" th:field="*{serviceIds}" />
            <input type="hidden" id="checkInDate" name="checkInDate" th:field="*{checkInDate}" />
            <input type="hidden" id="checkOutDate" name="checkOutDate" th:field="*{checkOutDate}" />

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.name}"></td>
                    <td>
                        <input th:name="amounts" th:value="${0}" type="number" id="amount" name="amount" th:placeholder="0" min="0">
                    </td>
                    <td>
                        <input th:name="roomCategoryIds" type="hidden" th:value="${category.id}" id="roomCategoryId">
                    </td>
                </tr>
                </tbody>
            </table>
            <button id="next-button" type="submit" class="btn btn-primary" onClick="amountValidation()">Next</button>
            <script>
                function amountValidation() {
                    let elements = document.getElementById("myform").elements;
                    let amount = document.getElementById("amount");
                    let total = 0;

                    for (let i = 0; i < elements.length; i++) {
                        if (elements[i].type === "number") {
                            total += elements[i].value;
                        }
                    }

                    if (total > 0) {
                        amount.setCustomValidity('');
                    } else {
                        amount.setCustomValidity('Please choose at least 1 room of any category!');
                    }

                    console.log('amount customError ', document.getElementById('amount').validity.customError);
                    console.log('amount validationMessage ', document.getElementById('amount').validationMessage);
                }
            </script>
        </form>
    </div>
</body>
</html>
