<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <h1>Create Booking</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3 row">
                    <label for="guest" class="col-sm-2 col-form-label">Guest:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="guest" readonly>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-info"><a href="/chooseguest">Search Guest</a></button>
                <button type="button" class="btn btn-info"><a href="#">Create Guest</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3 row">
                    <label for="roomCategory" class="col-sm-2 col-form-label">Room Category:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="roomCategory" readonly>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-info"><a href="/choosecategory">Room Category</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3 row">
                    <label for="service" class="col-sm-2 col-form-label">Service:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="service" readonly>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-info"><a href="/chooseservice">Service</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="startDate">Start date:</label>
                <input type="date" id="startDate" name="startDate">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="endDate">End date:</label>
                <input type="date" id="endDate" name="endDate">
            </div>
        </div>
    </div>
</body>
</html>