<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
  <h1>Create Guest</h1>

  <form th:action="@{/createguest}" method="post" th:object="${form}">
    <div class="row">
      <div class="col-6" id="leftForm">
        <div class="mb-3">
          <label for="firstname" class="form-label">First Name:</label>
          <input th:field="*{firstName}" type="text" class="form-control" id="firstname" placeholder="John" required>
          <p th:if="${#fields.hasErrors('firstName')}">Name must be at least 2 and most 20 characters long</p>
        </div>

        <div class="mb-3">
          <label for="lastname" class="form-label">Last Name:</label>
          <input th:field="*{lastName}" type="text" class="form-control" id="lastname" placeholder="Doe" required>
          <p th:if="${#fields.hasErrors('lastName')}">Name must be at least 2 and most 20 characters long</p>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input th:field="*{eMail}" type="email" class="form-control" id="email" placeholder="john.doe@gmail.com">
          <p th:if="${#fields.hasErrors('eMail')}">Invalid E-Mail</p>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Telephone Number:</label>
          <input th:field="*{phoneNumber}" type="tel" class="form-control" id="phoneNumber" placeholder="+43 699 123 456 789" required>
          <p th:if="${#fields.hasErrors('phoneNumber')}">Invalid Phonenumber</p>
        </div>

        <div class="mb-3">
          <label for="birthDate" class="form-label">Birthdate:</label>
          <input th:field="*{birthDate}" type="date" class="form-control" id="birthDate" required>
          <p th:if="${#fields.hasErrors('birthDate')}">Invalid Birthdate</p>
        </div>

      </div>
      <div class="col-6" id="rightForm">
        <div class="mb-3">
          <label class="form-label">Gender</label>
          <div class="form-check">
            <input th:field="*{gender}" class="form-check-input" type="radio" value="male" name="genderRadio" id="maleRadio">
            <label class="form-check-label" for="maleRadio">
              Male
            </label>
            <p th:if="${#fields.hasErrors('gender')}">Invalid Gender</p>
          </div>

          <div class="form-check">
            <input th:field="*{gender}" class="form-check-input" type="radio" value="female" name="genderRadio" id="femaleRadio">
            <label class="form-check-label" for="femaleRadio">
              Female
            </label>
            <p th:if="${#fields.hasErrors('gender')}">Invalid Gender</p>
          </div>

          <div class="form-check">
            <input th:field="*{gender}" class="form-check-input" type="radio" value="divers" name="genderRadio" id="diversRadio">
            <label class="form-check-label" for="diversRadio">
              Divers
            </label>
            <p th:if="${#fields.hasErrors('gender')}">Invalid Gender</p>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Address:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">Streetname</span>
            <input th:field="*{streetName}" type="text" class="form-control" placeholder="Townhall street" aria-label="Streetname" required>
            <p th:if="${#fields.hasErrors('streetName')}">Invalid Street name</p>
            <span class="input-group-text">Nr.</span>
            <input th:field="*{streetNumber}" type="text" class="form-control" placeholder="42" aria-label="Streetnumber" required>
            <p th:if="${#fields.hasErrors('streetNumber')}">Invalid Street number</p>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Zip Code</span>
            <input th:field="*{zipCode}" type="text" class="form-control" placeholder="6850" aria-label="Zip Code" required>
            <p th:if="${#fields.hasErrors('zipCode')}">Invalid Zipcode</p>
            <span class="input-group-text">City</span>
            <input th:field="*{city}" type="text" class="form-control" placeholder="Dornbirn" aria-label="City"required>
            <p th:if="${#fields.hasErrors('city')}">Invalid City</p>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Country</span>
            <input th:field="*{country}" type="text" class="form-control" placeholder="Austria" aria-label="Country" required>
            <p th:if="${#fields.hasErrors('country')}">Invalid Country</p>
          </div>

          <button type="submit" class="btn btn-primary" onclick="validation()">Submit</button>
          <button type="reset" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
    <script>
      function validation() {
        let maleRadio = document.getElementById('maleRadio');
        let femaleRadio = document.getElementById('femaleRadio');
        let diversRadio = document.getElementById('diversRadio');

        if (maleRadio.checked || femaleRadio.checked || diversRadio.checked) {
          maleRadio.setCustomValidity('');}
        else{
          maleRadio.setCustomValidity('Please select a Gender');
        }
        console.log('maleRadio customError ', document.getElementById('maleRadio').validity.customError);
        console.log('maleRadio validationMessage ', document.getElementById('maleRadio').validationMessage);
      }
    </script>
  </form>
</div>
</body>
</html>