<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <h1>Create Booking</h1>
            </div>
        </div>

        <form th:action="@{/createBooking}" th:object="${form}" method="post">
            <div class="form-group">
                <label for="selectGuest">Choose Guest</label>
                <select class="form-select" id="selectGuest" th:field="*{guestId}">
                    <option value="0">Select Guest</option>
                    <option th:each="guest : ${guests}" th:value="${guest.id}" th:text="${guest.firstName} + ' ' + ${guest.lastName}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCategory">Choose Room Category</label>
                <select class="form-select" id="selectCategory" th:field="*{roomCategoryId}">
                    <option value="0">Select Room Category</option>
                    <option th:each="roomCategorie : ${roomCategories}" th:value="${roomCategorie.id}" th:text="${roomCategorie.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectService">Choose Service</label>
                <select class="form-select" id="selectService" th:field="*{serviceId}">
                    <option value="0">Select Service</option>
                    <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>