<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>

    <div layout:fragment="content">
        <div class="alert alert-danger" role="alert">
            <p class="h4" th:text="'Error! ' + ${message}"></p>
        </div>
        <div class="justify-content-center d-flex">
            <a class="btn btn-primary btn-lg m-5" href="/">Back to home</a>
        </div>
    </div>

</body>
</html>