<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>

<div layout:fragment="content">

  <form th:action="@{/createpartinvoice/{id}(id=${stayDetails.id})}" method="get" th:object="${invoiceForm}">
    <input type="hidden" id="roomNames" name="roomNames" th:field="*{roomNames}">
    <div class="card" style="margin-top: 10px">

      <div class="card" style="margin-top: 10px">

        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div>
              Invoice <strong th:text="'#' + ${invoice.invoiceNumber}"></strong>
            </div>
            <div>
              <a th:href="@{/download-invoice/{invoiceNo}(invoiceNo=${invoice.invoiceNumber})}" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a>
              <a onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6>From:</h6>
              <div><strong>Hotel Schwarz</strong></div>
              <div>Thomas Schwarz</div>
              <div>Straße 12</div>
              <div>6845 Stadt</div>
              <div>Email: hotel@schwarz.at</div>
              <div>Phone: +43 5512 204576</div>
            </div>
            <div class="col">
              <h6>To:</h6>
              <br>
              <div th:text="${invoice.guestFirstName} + ' ' + ${invoice.guestLastName}"></div>
              <div th:text="${invoice.streetName} + ' ' + ${invoice.streetNumber}"></div>
              <div th:text="${invoice.zipCode} + ' ' + ${invoice.city}"></div>
            </div>
            <div class="col">
              <h6>Details:</h6>
              <div>Invoice number: <strong th:text="'#' + ${invoice.invoiceNumber}"></strong></div>
              <div th:text="'Invoice date: ' + ${invoice.invoiceDate}"></div>
              <br>
              <div>BAWAG P.S.K.</div>
              <div>IBAN: <strong>AT02 6000 0000 0134 9870</strong></div>
              <div>BIC: OPSKATWW</div>
            </div>
          </div>
        </div>
        <br>

        <div class="card-header">
          Rooms
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th class="h6 col-1">Quantity</th>
              <th class="h6 col-2">Room Name</th>
              <th class="h6 col-2">Room Category</th>
              <th class="h6 col-2">Cost per night</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${invoice.roomCategories}"
                th:with="category = ${entry.key}, quantity = ${entry.value}">
              <td th:text="${quantity}"></td>
              <td th:text="${category}"></td>
              <td th:text="${invoice.categoryNames[entryStat.index]}"></td>
              <td th:text="'€' + ${invoice.categoryPrices[entryStat.index]}"></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-header">
          Services
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th class="h6 col-2">Service</th>
              <th class="h6 col-1">Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${invoice.services}" th:with="price = ${entry.value}">
              <td th:text="${entry.key}"></td>
              <td  th:text="'€' + ${price}"></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-header">
          Further Services
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th class="h6 col-2">Quantity</th>
              <th class="h6 col-2">Description</th>
              <th class="h6 col-1">Cost per Adult</th>
              <th class="h6 col-1">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${invoice.amountOfAdults}"></td>
              <td th:text="'Local Tax'"></td>
              <td th:text="'€' + ${invoice.localTaxPerPerson}"></td>
              <td th:text="'€' + ${invoice.localTaxTotal}"></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-header">
          Total
        </div>

        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="col">Please indicate the invoice number as the purpose of payment.</div>
            <div class="col-5">
              <table class="table table-clear">
                <tbody>
                <tr>
                  <td class="col-2">
                    <strong>Net amount</strong>
                  </td>
                  <td class="col-3 text-end" th:text="'€' + ${invoice.totalNetAmount}"></td>
                </tr>
                <tr>
                  <td class="col-2">
                    <strong th:text="VAT + ' (' + ${invoice.valueAddedTaxInPercent * 100} + '%)'"></strong>
                  </td>
                  <td class="col-3 text-end" th:text="'€' + ${invoice.valueAddedTaxInEuro}"></td>
                </tr>
                <tr th:if="${invoice.discountInPercent} > 0">
                  <td class="col-2">
                    <strong th:text="Discount + ' (' + ${invoice.discountInPercent} + '%)'"></strong>
                  </td>
                  <td class="col-3 text-end" th:text="'- €' + ${invoice.discountInEuro}" ></td>
                </tr>
                <tr>
                  <td class="col-2">
                    <strong>Gross amount</strong>
                  </td>
                  <td class="col-3 text-end">
                    <strong th:text="'€' + ${invoice.totalGrossAmount}"></strong>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Accept</button>
      <a th:href="@{/staydetails/{id}(id=${invoice.stayId})}" type="button" class="btn btn-primary">Back</a>
    </div>
  </form>


</div>
</body>
</html>