<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body id="Invoices">

    <div layout:fragment="content">
        <div class="d-flex">
            <p class="h3">Invoices</p>
            <a class="btn btn-primary ms-5" href="createguest">Create Guest</a>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">Firstname</th>
                <th class="col-1">Lastname</th>
                <th class="col-1">Birthdate</th>
                <th class="col-1">Address</th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.firstName}"></td>
                <td th:text="${guest.lastName()}"></td>
                <td th:text="${guest.birthDate()}"></td>
                <td></td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="#">Modify</a>
                    <a class="btn btn-danger btn-sm" href="#">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>