<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotel Schwarz</title>

</head>

<body>

    <!-- sidebar -->
    <div class="sidebar bg-dark text-white p-4">
        <a href="/" >
            <img src="/images/logo.png" alt="logo" width="190px" height="auto" class="mb-2">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/" class="nav-link text-white">
                    <i class="fas fa-home fa-fw me-1"></i>
                    <span class="nav-value">Home</span>
                </a>
            </li>
            <li>
                <a href="/rooms" class="nav-link text-white">
                    <i class="fas fa-door-closed fa-fw me-1"></i>
                    <span class="nav-value">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/pricing" class="nav-link text-white">
                    <i class="fas fa-dollar-sign fa-fw me-1"></i>
                    <span class="nav-value">Pricing</span>

                </a>
            </li>
            <li>
                <a href="/guests" class="nav-link text-white">
                    <i class="fas fa-users fa-fw me-1"></i>
                    <span class="nav-value">Guests</span>

                </a>
            </li>
            <li>
                <a href="/bookings" class="nav-link text-white">
                    <i class="fas fa-calendar-alt fa-fw me-1"></i>
                    <span class="nav-value">Bookings</span>

                </a>
            </li>
            <li>
                <a href="/stays" class="nav-link text-white">
                    <i class="fas fa-map-pin fa-fw me-1"></i>
                    <span class="nav-value">Stays</span>

                </a>
            </li>
            <li>
                <a href="/invoices" class="nav-link text-white">
                    <i class="fas fa-file-invoice-dollar fa-fw me-1"></i>
                    <span class="nav-value">Invoices</span>

                </a>
            </li>
            <hr>
            <li>
                <a href="/createguest" class="btn btn-light text-dark d-flex">
                    <i class="fas fa-user-plus align-self-center ms-1 me-2"></i>
                    <span class="align-self-center">Create guest</span>
                </a>
            </li>
            <span style="height: 10px;"></span>
            <li>
                <a href="/createbooking/date" class="btn btn-light text-dark d-flex">
                    <i class="fas fa-calendar-plus align-self-center ms-1 me-1"></i>
                    <span class="align-self-center">&nbsp;&nbsp;Create booking</span>
                </a>
            </li>
        </ul>
    </div>


    <!-- content -->
    <div class="content px-5 py-4 flex-grow-1" layout:fragment="content"></div>


    <!-- scripts -->
    <script>
        var bodyId = document.getElementsByTagName("body");
        bodyId = bodyId[0].id;

        var navElements = document.getElementsByClassName("nav-link");
        var navElementsText = document.getElementsByClassName("nav-value");

        for(var i = 0; i < navElementsText.length; i += 1) {

            if(navElementsText[i].innerText == bodyId) {
                navElements[i].classList.add("active");
            }
        }
    </script>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>