<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Hotelmanagement Software</title>

</head>

<body>

    <!-- sidebar -->
    <div class="sidebar bg-dark text-white p-4">
        <a href="/" class="text-white text-decoration-none">
            <img src="/images/logo.png" alt="logo" width="180px" height="auto">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/" class="nav-link text-white">Home</a>
            </li>
            <li>
                <a href="/rooms" class="nav-link text-white">Rooms</a>
            </li>
            <li>
                <a href="/pricing" class="nav-link text-white">Pricing</a>
            </li>
            <li>
                <a href="/guests" class="nav-link text-white">Guests</a>
            </li>
            <li>
                <a href="/bookings" class="nav-link text-white">Bookings</a>
            </li>
            <li>
                <a href="/stays" class="nav-link text-white">Stays</a>
            </li>
            <li>
                <a href="/static/invoices" class="nav-link text-white">Invoices</a>
            </li>
            <hr>
            <li>
                <a href="/createguest" class="nav-link text-white">Create guest</a>
            </li>
            <li>
                <a href="/createbooking/guest" class="nav-link text-white">Create booking</a>
            </li>
        </ul>
    </div>


    <!-- content -->
    <div class="content px-5 py-4 flex-grow-1" layout:fragment="content">

    </div>


    <!-- scripts -->
    <script>
        let bodyId = document.getElementsByTagName("body");
        bodyId = bodyId[0].id;

        let navElements = document.getElementsByClassName("nav-link");

        for(let i = 0; i < navElements.length; i += 1) {

            if(navElements[i].innerHTML == bodyId) {
                navElements[i].classList.add("active");
            }
        }
    </script>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>