/******************************
    BASIC STYLES
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
}

nav {
    height: 7.5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#root {
    height: 92.5%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
    background-image: url("./images/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/******************************
    SECTIONS
******************************/
section {
    position: relative;
    min-height: 100%;
    transform-style: inherit;
}

.section1 {
    background: #fafafa;
    box-shadow: 0 0 20px #333;
    z-index: 1;
}

.section2::before, #image-carousel {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    transform: translateZ(-.5px) scale(1.6);
    z-index: -1;
}

.section-heading {
    position: absolute;
    top: 90%;
    left: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;
}

/******************************
    IMAGE CAROUSEL
******************************/

.pic {
    min-height: 100%;
    min-width: 100%;
}

/******************************
    IMAGE CAROUSEL
******************************/
.card {
    background-color: #363636 !important;
    color: white !important;
}

.card-body {
    background-color: #3b3b3b !important;
    color: white !important;
}

.table-dark {
    --bs-table-bg: transparent !important;
}







.progress {
    background-color: #606060 !important;
}

.input-group-text {
    background-color: #606060 !important;
    color: white !important;

}

.form-control {
    background-color: #888888 !important;
    color: white !important;

}






